# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Build output
build/
dist/
.vite/
.react-router/

# Editor directories and files
.idea/
.vscode/
.DS_Store

# Env files
.env
.env.*
!.env.example